<div class="background">


      <div class="container">
        <div>
          <h1 class="title text-center display-4 text-muted">Budget<small style="color: #24a0ed;">App</small></h1>
        </div>
        
        <div class="btn-group padding centered">
          <%= link_to 'Log in', user_session_path, class: 'btn btn-info text-nowrap'%>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light text-nowrap'%>
        </div>
      
    </div>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>